<ul class="menu-list">
  <img src="{{pokemon.img}}" alt="{{pokemon.nom}}" (click)="clickSurImage()" >
  <li>{{pokemon.nom}}</li>
  <ul class="menu-list">
    <li>Catégorie :<span *ngIf="pokemon.categorie;else na">{{pokemon.categorie}}</span> </li>
    <li>Type :<span *ngIf="pokemon.type;else na">{{pokemon.type}}</span>  </li>
    <li>Taille :<span *ngIf="pokemon.taille;else na"> {{pokemon.taille | number: "1.0-2"}}</span> </li>
    <li>Poids :<span *ngIf="pokemon.poids;else na">{{pokemon.poids | number: "1.0-2"}}</span> </li>
    <ng-template #na>N/A</ng-template>
  </ul>
</ul>
